*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 12vh;
    width: 100%;
 background:linear-gradient(to right,blueviolet,violet);
 background-position: center;
 background-size: cover;
}
h2{
    text-align: center;
}
ul{
    display: inline;
    text-align: center;
}
.list{
    display: inline-block;
    padding: 10px 75px ;
    align-items: stretch;
    text-decoration: none;

}
.text{
    text-decoration: none;
    color: antiquewhite;
}
h1{
    text-align: left;
    padding-top: 50px;
    padding-left: 75px;
}
b{
    padding-left: 75px;
}
i{
    padding-left: 10px;
    text-align: justify;
}
body{
    background: linear-gradient(to right,#FFAFBD,#ffc3a0);
}
.GD{
    height: 25vw;
    width: 30%;
    float: right;
}
aside{
    text-align:right;
}